
@media only screen and (max-width:600px){
  a {
    text-decoration: none;
  }

  h1, h2, h3 {
    color: grey;
    font-weight: Bold;
    font-size:15px;
    
  }
  
  .btn-group {
     flex-wrap: wrap;
     align-items: center;
    border-radius: 10px;
  }
  
  .btn{
    background-color:grey;
    border-color: black;
    margin-top: 5px;
  }
  .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle),  .btn-group > :not(.btn-check) + .btn{
    border-radius: 12px;
    flex-wrap: wrap;
    align-items: center;
  }
  
  img {
    border: 2px solid black;
    
  }
}

@media only screen and (max-width:768px){
   a {
    color:yellow;
  }

    footer {
      width:100%;
    }

   img.food-img {
     border-radius:100%
   }

    h1, h2, h3 {
    color: grey;
    font-weight: bold;
  }

  
  .btn{
    background-color:grey;
    border-color: black;
    margin-top: 5px;
  }
  .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle),  .btn-group > :not(.btn-check) + .btn{
    border-radius: 8px;
  }
}
